body {
    background-color: #f5f7fa;
  }
  .full{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100vh;
    width: 100%;
  }
  .class{
    text-decoration: none;
    color: white !important;
    background-color: royalblue;
  }


  @media screen and (max-width: 1000px) {
    .full{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 700px) {
    .full{
      display: grid;
      grid-template-columns: 1fr;
    }
  }